/****** Object:  StoredProcedure [dbo].[BMW_CN2ManifestGet]    Script Date: 2013-10-02 02:05:35 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BMW_CN2ManifestGet]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BMW_CN2ManifestGet]
GO
/****** Object:  StoredProcedure [dbo].[BMW_CN2DataUpdate]    Script Date: 2013-10-02 02:05:35 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BMW_CN2DataUpdate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BMW_CN2DataUpdate]
GO
/****** Object:  StoredProcedure [dbo].[BMW_CN2DataExtract]    Script Date: 2013-10-02 02:05:35 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BMW_CN2DataExtract]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[BMW_CN2DataExtract]
GO
/****** Object:  StoredProcedure [dbo].[BMW_CN2DataExtract]    Script Date: 2013-10-02 02:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BMW_CN2DataExtract]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[BMW_CN2DataExtract]
	@ManifestNo varchar(30)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	Select TOP 1 NT.ManifestDate,NT.ReferenceNo, CCL.* From XRCN2 NT
	Inner JOin XRFile XR ON XR.XRFileNo = NT.XRFileNo
	Inner Join XRFileExporter EX ON EX.XFileNo = XR.XFileNo
	Inner Join XExporter XP ON XP.XExporterNo = EX.XExporterNo
	Inner Join 
	(Select 
	 Mrn_Number
	 ,''CN2'' As ManifestCode
	 ,9 As VehiclesInManifest
	 ,''RELEASE'' As Status
	 ,''1796636'' As AgentNo
	 ,SUBSTRING(Transport_At_Frontier_B21_2,1,LEN(Transport_At_Frontier_B21_2)- 10) as TruckRegNo
	 ,Cons_Tran_Particulars_B28_2 As UCR
	 ,TOTAL_VALUE_B22 As CustomsValue
	 ,Replace(DECLARENT_REFERENCE_NO_B7_2, ''C Ref:'','''') as ManifestNo
	 ,Cast((rtrim(ltrim(SUBSTRING(Invoice_Number_Date_B13a,LEN(Invoice_Number_Date_B13a)-10,13))))as datetime) as InvoiceDate
	from CCLDWH.dbo.SAD500
	where MRN_NUMBER <> ''''
	Group By Mrn_Number,Transport_At_Frontier_B21_2,Cons_Tran_Particulars_B28_2,TOTAL_VALUE_B22,DECLARENT_REFERENCE_NO_B7_2,Invoice_Number_Date_B13a
	) CCL On NT.ManifestNo  COLLATE DATABASE_DEFAULT = CCL.ManifestNo COLLATE DATABASE_DEFAULT
	Where NT.FileName IS NULL And XP.ExporterCode = ''93043''
	And CCL.ManifestNo = @ManifestNo
	Group By NT.ManifestDate,NT.ReferenceNo,Mrn_Number,TruckRegNo,CustomsValue,CCL.ManifestNo
	,ManifestCode,VehiclesInManifest,Status,AgentNo,UCR,CCL.InvoiceDate
	Order By CCL.InvoiceDate DESC

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[BMW_CN2DataUpdate]    Script Date: 2013-10-02 02:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BMW_CN2DataUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[BMW_CN2DataUpdate]
	@FileName varchar(130),
	@ManifestNo varchar(30)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	Update XRCN2
	Set DateSubmitted = Getdate()
	,FileName = @FileName	
	Where ManifestNo = @ManifestNo
	And FileName IS NULL
	

END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[BMW_CN2ManifestGet]    Script Date: 2013-10-02 02:05:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BMW_CN2ManifestGet]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
Create PROCEDURE [dbo].[BMW_CN2ManifestGet]
	
AS
BEGIN
	
	SET NOCOUNT ON;
	
	Select CCL.ManifestNo From XRCN2 NT
	Inner JOin XRFile XR ON XR.XRFileNo = NT.XRFileNo
	Inner Join XRFileExporter EX ON EX.XFileNo = XR.XFileNo
	Inner Join XExporter XP ON XP.XExporterNo = EX.XExporterNo
	Inner Join 
	(Select 
	 Replace(DECLARENT_REFERENCE_NO_B7_2, ''C Ref:'','''') as ManifestNo
	 from CCLDWH.dbo.SAD500
	where MRN_NUMBER <> ''''
	Group By DECLARENT_REFERENCE_NO_B7_2
	) CCL On NT.ManifestNo  COLLATE DATABASE_DEFAULT = CCL.ManifestNo COLLATE DATABASE_DEFAULT
	Where NT.FileName IS NULL And XP.ExporterCode = ''93043''
	Group BY CCL.ManifestNo
	

END
' 
END
GO
