<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TariffCodeCCLValidation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="BSWExchange" connectionString="Persist Security Info=False;Initial Catalog=BSWExchange;Data Source=CARLO-NB;UID=sa;PWD=W13l13w4l13;Packet Size=32767;Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
    <add name="TariffBook" connectionString="Persist Security Info=False;Initial Catalog=SupplyChainSolution;Data Source=CARLO-NB;UID=sa;PWD=W13l13w4l13;Packet Size=32767;Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
    <add name="PurchaseOrder" connectionString="Persist Security Info=False;Initial Catalog=SupplyChainSolution;Data Source=CARLO-NB;UID=sa;PWD=W13l13w4l13;Packet Size=32767;Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <TariffCodeCCLValidation.Properties.Settings>
      <setting name="TariffCodeCCLValidation_Service1_ProgramCallService"
        serializeAs="String">
        <value>http://196.35.177.122:8000/cWebServices/ProgramCallService</value>
      </setting>
    </TariffCodeCCLValidation.Properties.Settings>
  </applicationSettings>
</configuration>