<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VVExchange.ExchangePlugin.XMLImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RemoteProfileID" value="2"/>
    <add key="MaxRows" value="5000"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="BSWExchange" connectionString="Persist Security Info=False;Initial Catalog=BSWExchange;Data Source=ALIDA-NB;UID=sa;PWD=alidasa;Packet Size=32767;Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" sendTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://41.223.34.126:5678/VVExchangeWCF.Service.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
          contract="IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>